body {
    background-color: #216293;
    color: #fff;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }
  h1 {
    line-height: 44px;
    padding: 10px 80px 10px 80px;
    text-align: center;
    text-decoration: underline;
  }
p {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    padding: 10px 25px 10px 25px;
}


  #left,
#right {
  border: 5px solid rgb(255, 255, 255);
  position: fixed;
}
#left,
#right {
  top: 0;
  bottom: 0;
  width: 15px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}
